<!-- @Hassan-Gaad -->
<!-- Listing Items -->
    <div class="container">

      <section class="filters">
        <app-product-filter></app-product-filter>
      </section>
      <!-- Items -->
      <section class="item-listing">
        <!-- tools (sorting , change view , exporting) -->
        <div class="item-listing__tools">
          <select class="form-control" name="" id="">
            <option value="1">Featured</option>
            <option value="2">Price low to high</option>
            <option value="3">Price high to low</option>
            <option value="4">Name</option>
          </select>
          <a class="action-btn" href="#">
            <i class="fas fa-plus"></i>
          </a>
        </div>
        <!-- items -->
        <div class="item-listing__items item-listing--3items">
          <!-- also product still can be accessed here cause of its within it's component -->
          
          <!-- once the productAdded event fired in the app-product-item it wil call the callback function in the parent -->
          <app-product-item (productAdded)="newProductAddedToCart($event)" *ngFor='let elem of productListArray' [product]='elem' class="item-medium-1">
          </app-product-item>
          <!-- <app-product-item [product]='productListArray[1]' class="item-medium-1"></app-product-item>
               <app-product-item [product]='productListArray[2]' class="item-medium-1"></app-product-item>
               <app-product-item [product]='productListArray[3]' class="item-medium-1"></app-product-item>
               <app-product-item [product]='productListArray[4]' class="item-medium-1"></app-product-item>
               <app-product-item [product]='productListArray[5]' class="item-medium-1"></app-product-item>
               <app-product-item [product]='productListArray[6]' class="item-medium-1"></app-product-item>
               <app-product-item [product]='productListArray[7]' class="item-medium-1"></app-product-item>
               <app-product-item [product]='productListArray[8]' class="item-medium-1"></app-product-item> -->


          <!-- <app-product-item class="item-medium-1"></app-product-item>
               <app-product-item class="item-medium-1"></app-product-item>
               <app-product-item class="item-medium-1"></app-product-item>
               <app-product-item class="item-medium-1"></app-product-item>
               <app-product-item class="item-medium-1"></app-product-item>
               <app-product-item class="item-medium-1"></app-product-item>
               <app-product-item class="item-medium-1"></app-product-item>
               <app-product-item class="item-medium-1"></app-product-item> -->
        </div>
        <!-- paging -->
        <div class="paging">
          <!-- left arrow -->
          <div class="paging__arrow">
            <i class="fas fa-angle-left"></i>
          </div>
          <!-- page number -->
          <div class="paging__number active">1</div>
          <div class="paging__number">2</div>
          <div class="paging__number">3</div>
          <!-- right arrow -->
          <div class="paging__arrow">
            <i class="fas fa-angle-right"></i>
          </div>
        </div>
      </section>
    </div>
