<!-- medium item -->


    <!-- Any property or function can be accessed from here 
    wether using string interpolation {{propName}}
    OR
    using directive as in *ngIf
    -->

    <!-- To send  element obj to typeScript you can use #refName on any element 
    and use any event such (click) to pass the element as a parameter within the callback function of the event 
    as we did with the 'add to cart ' button
    -->

    <!-- There is an amazing method to get any element using #reference 
        and @viewChild decorator in ts file 
        for example we will send the sale element using #saleElem ref
        go a head and discover :)
    -->

    <!-- pruduct prop (defind in type script )can be accessed within HTML  -->
    <div  #saleElem *ngIf="product.discount"  (click)="recievedElem(saleElem)" class="item-medium-1__alert">Sale</div>
    <div class="item-medium-1__image image" [style.backgroundImage]="'url('+product.imgUrl+')'">
        <!--  -->

        <a href="#" #addToCart class="item-medium-1__action" (click)="productClicked()">Add to Cart</a>
        <!-- <a href="#" #addToCart class="item-medium-1__action" (click)="addItemToChart()">Add to Cart</a> -->
    </div>
    <a href="#">
        <h4>{{product.name}}</h4>
        <div class="flex-row">
            <div>
                <del *ngIf="product.discount" [innerText]="product.price">$</del>
                <span class="lable">${{getPrice()}}</span>
            </div>
        </div>
    </a>
    <div class="crud-actions">
        <a href="#"><i class="far fa-eye"></i></a>
        <a href="#"><i class="fas fa-edit"></i></a>
        <a href="#" (click)="deleteProduct(product.id)"><i class="fas fa-trash-alt"></i></a>
    </div>
